/* ==========================================================================
   Author: Luis Mendoza
   Date: 25/08/2014

   Colors: 
   	blue: 		#0960ad
   	gray: 		#5e5b58
   	yellow: 	#e6a623
   	verde: 		#659940
   ========================================================================== */

@font-face {
    font-family: 'Roboto', sans-serif;
}

/*
@font-face {
    font-family: "Antenna";
    src: url("../fonts/Antenna-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Antenna";
    src: url("../fonts/Antenna-LightItalic.woff") format('woff');
    font-style: italic;
} */

/* ==========================================================================
	0. General classes
   ========================================================================== */

*{
	font-family: "Roboto";
}

a:hover{
	text-decoration: none;
}

#main-container{
	position: relative;
	z-index: 1000;
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}

.right{
	text-align: right;
	float: right;
}

.left{
	text-align: left;
	float: left;
}

.fill{
	width: 100% !important;
}

.blue{
	color: #0960ad;
}

.w300{
	font-weight: 300;
}



/* ==========================================================================
	1. Navigation
   ========================================================================== */
#main-nav{
	margin-top: 20px;
	z-index: 1010;
}

#main-nav.navbar.navbar-inverse{
	background-color: transparent !important;
	border: none !important;
	background-image: none !important;
	box-shadow: 		none;
	-webkit-box-shadow: none;
	-moz-box-shadow:	none;
}

#main-nav .container{
	background-color: #0960ad;
	padding-top: 15px;
}

#main-nav .navbar-nav>li>a{
	color: #fff !important;
	font-weight: 300;
}

#logo-nav{
	width: 200px;
	margin-left: 40px !important;
}

.navbar-brand{
	padding-top: 0px;
	margin-top: -10px;
}

.nav.navbar-nav li a{
	padding: 10px 0px 5px 0px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	border-bottom: 2px solid #0960ad;
}

ul.nav.navbar-nav > .active a{
	background-image: none;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#main-nav > .container{
	-webkit-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.20);
	   -moz-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.20);
			box-shadow: 0 2px 2px 2px rgba(0,0,0,0.20);
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav > .active a:hover{
	background-image: none;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#main-nav .navbar-toggle,
#main-nav .navbar-toggle .collapsed{
	border-color: #fff;
}

#main-nav .navbar-toggle .collapsed{
	background-color: #0960ad !important;
}

#main-nav .navbar-toggle:hover{
	background-color: #e6a623;
}

#main-nav .navbar-collapse{
	border-color: #0960ad;
	border-top: 0px;
}

/* ==========================================================================
	2. Intro
   ========================================================================== */

#fixed-background{
	/* background-image: url(../img/home-2.jpg); */
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

.slider-control{
	cursor: pointer;
	color: rgba(204, 204, 204);
	color: rgba(255, 255, 255, 0.5);
}

.slider-control:hover{
	cursor: pointer;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1);
}

#slider{
	color: #fff;
}

#scroll-down{
	margin-top: 270px;
	color: rgba(255, 255, 255);
    color: rgba(255, 255, 255, 1);
	-webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}

#scroll-down:hover {
    -webkit-animation: none;
    animation: none;
    color: rgba(204, 204, 204);
	color: rgba(255, 255, 255, 0.5);
}

/* ==========================================================================
	3. Secciones
   ========================================================================== */

#secciones-home{
	margin-top: 600px;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 45px;
}

#secciones{
	margin-top: 400px;
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 25px;
}

.seccion-home{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 360px;
	width: 100%;
	margin-bottom: 10px;
	background-color: rgba(1, 1, 1, 0.5);
}

.seccion-home h3{
	margin-top: 0px;
	padding-top: 145px;
	color: #fff;
	font-weight: 300;
}

.overlay{
	z-index: 1001;
	width: 100%;
	height: 100%;
	background-color: rgba(94, 91, 88, 0.4);
}

.overlay:hover{
	background-color: transparent;
}

.btn-home{
	border-radius: 0px !important;
	border: 0px;
}

.btn-home:hover{
	background-color: #5e5b58;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 0px solid #5e5b58;
}

/* ==========================================================================
	4. Recetas
   ========================================================================== */

#recetas{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	color: #fff;
	background-image: url(../img/home-5.jpg);
}

.overlay-recetas{
	z-index: 1001;
	width: 100%;
	height: 100%;
	background-color: rgba(94, 91, 88, 0.4);
	padding-top: 180px;
	padding-bottom: 180px;
	color: #fff;
}

.overlay-recetas:hover{
	background-color: rgba(94, 91, 88, 0.48);
}

/* ==========================================================================
	4. Salud y Sustentabilidad
   ========================================================================== */
#salud{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
}


.verde{
	color: #659940;
}

/* ==========================================================================
	4. Iconos
   ========================================================================== */
#iconos{
	background-color: #eee;
	padding-top: 40px;
	padding-bottom: 40px;
}

#iconos h3{
	color: #5e5b58;
	margin-bottom: 20px;
}

/* ==========================================================================
	5. Page Conatiner
   ========================================================================== */

#page-container{
	background-color: #fff;
	margin-top: 200px;
	padding-top: 20px;
	padding-bottom: 25px;
}

/* ==========================================================================
	5. Side Menu
   ========================================================================== */

#side-menu{
	background-color: #e6a623;
	color: #fff;
	padding-bottom: 50px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.isStuck{
}

#side-menu .nav.nav-pills.nav-stacked li a{
	color: #fff;
	border-radius: 0px !important;
	padding-left: 5px;
}
#side-menu .nav.nav-pills.nav-stacked li{
	border-bottom: 1px solid #fff;
}

#side-menu .nav.nav-pills.nav-stacked li.active a{
	color: #0960ad;
	background-color: transparent;
}

#side-menu .nav.nav-pills.nav-stacked li:last-child{
	color: #fff;
	border-radius: 0px !important;
	border-bottom: 1px solid #e6a623;
}

#side-menu .nav.nav-pills.nav-stacked li a:hover{
	color: #0960ad;
	background-color: transparent;
}

.sub-menu{
	padding-bottom: 10px;
	list-style-type: none;
}

.sub-menu li{
	border-bottom: none !important;
}

#side-menu .nav.nav-pills.nav-stacked li.active > .sub-menu li a{
	color: #fff !important;
}

#side-menu .nav.nav-pills.nav-stacked li.active > .sub-menu li a:hover{
	color: #0960ad !important;
}

/*
.sub-menu li a{
	color: #0960ad !important;
}

.sub-menu li a:hover{
	color: #fff !important;
}
*/

/* ==========================================================================
	5. Page Content
   ========================================================================== */
.content-title{
	color: #e6a623;
	border-top: 2px solid #e6a623;
	border-bottom: 2px solid #e6a623;
	padding-left: 12px;
	margin-left: 3px;
}

.square-container{

}

.seccion-historia{
	height: 265px;
}

.seccion-historia h3{
	padding-top: 100px;
}

/* ==========================================================================
	6. Footer
   ========================================================================== */

footer{
	background-color: #999999;
	color: #fff !important;
}

footer .nav.nav-pills.nav-stacked li a,
footer .nav.nav-pills.nav-stacked li p{
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 300;
}

footer .nav.nav-pills.nav-stacked li p{
	padding: 5px 15px 5px 15px;
	margin-bottom: 5px;
}

footer .nav.nav-pills.nav-stacked li a:hover{
	color: #e6a623;
	background-color: transparent;
}

.footer-form,
#email-input,
.email-btn{
	border-radius: 0px !important;
}

.email-btn{
	background-color: #0960ad;
	background-image: none;
	color: #fff;
	border-color: #0960ad;
	text-shadow: none;
}

#email-input{
	min-width: 250px;
	width: 70%;
}

#legal{
	color: #0960ad;
}

#legal > li > a{
	color: #0960ad !important;
	border-right: 1px solid #0960ad;
	border-radius: 0px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#legal > li:last-child > a{
	color: #0960ad !important;
	border-right: 0px solid #0960ad;
	border-radius: 0px !important;
}

#legal > li > a:hover,
#legal > li:hover{
	background-color: #999999;
	color: #fff !important; 
}

/* ==========================================================================
	7. Meida Queries
   ========================================================================== */

@media only screen and (max-width: 1200px){
	#main-nav .navbar-nav>li>a{
		font-size: 12px;
		margin-right: 10px;
		margin-left: 10px;
	}

	#main-nav{
		margin-top: 20px;
		margin-bottom: 40px;
	}

	#logo-nav{
		width: 200px;
	}
}

@media only screen and (max-width: 992px){
	#main-nav .navbar-nav>li>a{
		font-size: 12px;
		margin-right: 0px;
		margin-left: 10px;
	}

	#main-nav{
		margin-top: 20px;
		margin-bottom: 40px;
	}

	#logo-nav{
		width: 150px;
		margin-left: 0px !important;
	}
}

@media only screen and (max-width: 768px){

	#main-nav{
		margin-top: 0px;
	}

	#side-menu{
		padding-bottom: 20px;
	}

	#page-content{
		margin-top: 20px;
	}

	.content-title{
		padding-right: 0px;
		margin-right: 0px;
	}

	.navbar-collapse{
		padding-top: 30px;
	}

	#logo-nav{
		width: 200px;
		margin-left: 0px !important;
	}

	.footer-form{
		padding-left: 30px;
	}

}

/* ==========================================================================
	7. Animations
   ========================================================================== */

/* Used to bounce .scroll-down on home page */
@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    30% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
}











