/* ==========================================================================
   Author: Luis Mendoza
   Date: 25/08/2014

   Colors: 
   	blue: 		#0960ad
   	gray: 		#5e5b58
   	yellow: 	#e6a623
   ========================================================================== */

/* ==========================================================================
	0. General classes
   ========================================================================== */

#main-container{
	position: relative;
	z-index: 1000;
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}

.fill{
	width: 100% !important;
}

.blue{
	color: #0960ad;
}

.w300{
	font-weight: 300;
}

/* ==========================================================================
	1. Navigation
   ========================================================================== */
#main-nav{
	margin-top: 20px;
}

#main-nav.navbar.navbar-inverse{
	background-color: transparent !important;
	border: none !important;
	background-image: none !important;
	box-shadow: 		none;
	-webkit-box-shadow: none;
	-moz-box-shadow:	none;
}

#main-nav .container{
	background-color: #0960ad;
	padding-top: 20px;
}

#main-nav .navbar-nav>li>a{
	color: #fff !important;
	font-weight: 300;
}

#logo-nav{
	width: 200px;
	margin-left: 40px !important;
}

.navbar-brand{
	padding-top: 0px;
	margin-top: -10px;
}

.nav.navbar-nav li a{
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
}

ul.nav.navbar-nav > .active a{
	background-image: none;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#main-nav > .container{
	-webkit-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.20);
	   -moz-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.20);
			box-shadow: 0 2px 2px 2px rgba(0,0,0,0.20);
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav > .active a:hover{
	background-image: none;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

/* ==========================================================================
	2. Intro
   ========================================================================== */

#fixed-background{
	background-image: url(../img/home-2.jpg);
	background-size: cover;
	background-position: center center;
	height: 600px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

/* ==========================================================================
	3. Secciones
   ========================================================================== */

#secciones{
	margin-top: 600px;
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 25px;
}

.seccion-home{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 360px;
	width: 100%;
	margin-bottom: 10px;
	background-color: rgba(1, 1, 1, 0.5);
}

.seccion-home h3{
	margin-top: 0px;
	padding-top: 145px;
	color: #fff;
	font-weight: 300;
}

.overlay{
	z-index: 1001;
	width: 100%;
	height: 100%;
	background-color: rgba(94, 91, 88, 0.4);
}

.overlay:hover{
	background-color: transparent;
}

/* ==========================================================================
	4. Iconos
   ========================================================================== */
#iconos{
	background-color: #eee;
	padding-top: 40px;
	padding-bottom: 40px;
}

#iconos h3{
	color: #5e5b58;
	margin-bottom: 20px;
}


/* ==========================================================================
	5. Footer
   ========================================================================== */

footer{
	background-color: #999999;
	color: #fff !important;
}

footer .nav.nav-pills.nav-stacked li a,
footer .nav.nav-pills.nav-stacked li p{
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 300;
}

footer .nav.nav-pills.nav-stacked li p{
	padding: 5px 15px 5px 15px;
	margin-bottom: 5px;
}

footer .nav.nav-pills.nav-stacked li a:hover{
	color: #e6a623;
	background-color: transparent;
}

.footer-form,
#email-input,
.email-btn{
	border-radius: 0px !important;
}

.email-btn{
	background-color: #0960ad;
	background-image: none;
	color: #fff;
	border-color: #0960ad;
	text-shadow: none;
}

#email-input{
	min-width: 250px;
	width: 70%;
}











